/tarea1-prog2324/nbproject/private/
/tarea1-prog2324/build/
/tarea1-prog2324/dist/
/tarea2-prog2324/nbproject/private/
/tarea2-prog2324/build/
/tarea2-prog2324/dist/
/tarea3-prog2324/nbproject/private/
/tarea3-prog2324/build/
/tarea3-prog2324/dist/
/tarea4-prog2324/nbproject/private/
/tarea4-prog2324/build/
/tarea4-prog2324/dist/
/tarea5-prog2324/nbproject/private/
/tarea5-prog2324/build/
/tarea5-prog2324/dist/
/tarea6-prog2324/nbproject/private/
/tarea6-prog2324/build/
/tarea6-prog2324/dist/
/tarea7-prog2324/nbproject/private/
/tarea7-prog2324/build/
/tarea7-prog2324/dist/
/tarea8-prog2324/nbproject/private/
/tarea8-prog2324/build/
/tarea8-prog2324/dist/
/tarea10-prog2324/nbproject/private/
/tarea10-prog2324/build/
/tarea10-prog2324/dist/
